.defaultError {
  color: red;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.28px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: circle;
  display: list-item;
  margin-left: 20px;
  letter-spacing: 0.2px;
}