@mixin flex($justify-content: flex-start, $flex-direction: row, $align-items: flex-start) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin position($position: static, $left: auto, $right: auto, $top: auto, $bottom: auto, $z-index: auto) {
  position: $position;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
  z-index: $z-index;
}

@mixin dimensions($width,$height) {
  width: $width;
  height: $height;
}

@mixin border($border: 1px, $border-radius: 0px, $border-color: black) {
  border: $border solid $border-color;
  border-radius: $border-radius;
}

@mixin colors($background-color, $color){
  background-color: $background-color;
  color: $color;
}
