@import "src/utils/styles/mixins";

* {
    margin: 0;
    padding: 0;
}

.inputStyle {
    @include flex();
    position: relative;
}

.innerContainer{
    @include flex(center,column,center);
    @include dimensions(277px,439px);
    padding: 72px;
    @include border($border-radius: 8px,$border-color: #e5e5e5);
}
