@import "src/utils/styles/mixins";
//base class -> innerContainer

//dark, light
.innerContainer{
    @include flex(center,column,center);
    @include dimensions(277px,439px);
    @include border($border-radius: 8px,$border-color: #e5e5e5);
    padding: 72px;
    transition: background-color 0.5s ease;

    &.light {
        background-color: white;
    }

    &.dark {
        background-color: #1b1b1b;
    }
}
