@import "src/utils/styles/mixins";

* {
    margin: 0;
    padding: 0;
}

.inputStyle {
    @include flex();
    position: relative;
}

.innerContainer{
    @include flex(center,column,center);
    @include dimensions(277px,439px);
    padding: 72px;
    @include border($border-radius: 8px,$border-color: #e5e5e5);
}
.innerContainerDark {
    @extend .innerContainer;
    background-color: #1b1b1b;
}
.title{
    @include dimensions(100%,36px);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: 0.33px;
    color: #484848;
    margin-bottom: 32px;
}
.titleDark {
    @extend .title;
    color: #f2f2f2;
}